.toggle {
  cursor: pointer;
  display: inline-block;
}
.toggle-switch {
  display: inline-block;
  background: rgba(143, 155, 179, 0.25);
  border: 1px solid #c5cee0;

  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;

  background-color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: left 0.25s;
}
/* .toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
} */
.toggle-checkbox:checked + .toggle-switch {
  background-color: #0746a6;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}
.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
